a.add {
  text-decoration: none !important;
}

.button.rounded {
  border-radius: .35rem;
}

div.button {
  border-radius: .35rem;
}

body, h3, h1, p {
  text-align: center;
}

fieldset {
  margin: .35rem;
  padding: .35em;
  border: 0.1rem solid black;
  border-radius: 5%;
}

fieldset.admin {
  margin: .2rem;
  padding: .2rem;
  border: 0.1rem solid grey;
  border-radius: 2%;
}

.rounded {
	border: 1px solid #ccc;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow: 2px 2px 3px #666;
	-webkit-box-shadow: 2px 2px 3px #666;
	box-shadow: 2px 2px 3px #666;
	font-size: 20px;
	padding: 4px 7px;
	outline: 0;
	-webkit-appearance: none;
}

input.button {
  margin-top: 20px;
}

i, p.add {
  display: inline-block;
  text-align: left;
}

.log-in-form {
  border: 1px solid #cacaca;
  padding: 1rem;
  border-radius: 3px;
}

.rounded {
  border-radius: .35rem;
}

span {
  margin: 0;
}
