{% extends "base.html" %}
{% block navigation %}
{% include "admin-navigation.html" %}
{% endblock %}
{% block links %}
<!-- Add fancyBox -->
<link rel="stylesheet" href="/fancy/source/jquery.fancybox.css?v=2.1.5" type="text/css" media="screen" />
<link rel="stylesheet" href="bower_components/tablesorter/dist/css/theme.metro-dark.min.css" type="text/css" />

{% endblock %}
{% block head_scripts %}
<script type="text/javascript" src="bower_components/tablesorter/dist/js/jquery.tablesorter.min.js"></script>
<script type="text/javascript" src="bower_components/tablesorter/dist/js/jquery.tablesorter.widgets.min.js"></script>
{% endblock %}
{% block body %}
<div class="row align-center">
  <div class="small-8 small-centered medium-8 medium-centered columns">
    <h4>Admin Section</h4>
    <div id="spa">

    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="javascripts/admin-spa.js"></script>
<script type="text/javascript" src="/fancy/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script>
var queryTruncate = function (query) {
  if (query.length > 47) {
    return query.substring(0, 47) + '...';
  } else {
    return query;
  }
}
</script>
{% endblock %}
