<!doctype html>
<html>
<head>
  <title>{% block title %}SurveySays{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/app.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  {# Links #}
  {% block links %}{% endblock %}
  <script src="javascripts/vendor/jquery.min.js"></script>
  {# Scripts #}
  {% block head_scripts %}{% endblock %}
</head>
<body>
{% block navigation %}{% include "navigation.html" %}{% endblock %}
{% block body %}{% endblock %}

<script src="javascripts/foundation.min.js"></script>
<script>
  (function ($) {
    $(document).foundation();
  })(jQuery);
</script>
{# Additional scripts can be added here #}
<script src="javascripts/sammy/sammy.js"></script>
<script src="javascripts/sammy/plugins/sammy.template.js"></script>
<script src="javascripts/sammy/plugins/sammy.json.js"></script>
<script src="javascripts/sammy/plugins/sammy.storage.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
