<!doctype html>
<html>
<head>
  <title>{% block title %}SurveySays{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/foundation.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/app.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  {# addition scripts can be loaded here #}
  {% block scripts %}{% endblock %}
</head>
<body>

{% block body %}{% endblock %}


<script src="javascripts/vendor/jquery.min.js"></script>
<script src="javascripts/foundation.min.js"></script>
<script src="javascripts/app.js"></script>
</body>
</html>
