{% extends "base.html" %}
{% block body %}
<div class="row align-middle" id="index-container">
  <div class="columns">
    <div id="main-spa">
      <form action="#/survey" method="post">
        <input id="fingerprint" type="hidden" name="fingerprint">
        <input type="submit" value="Survey" class="button large secondary" id="enterSurvey">
      </form>
    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="javascripts/user-spa.js"></script>
<script src="javascripts/vendor/fingerprint2.min.js"></script>
<script>
// Will use this to identify users
$(function () {
  new Fingerprint2().get(function (result, components) {
    // Load fingerprint into hidden input
    $('#fingerprint').val(result);
  });
});
</script>
{% endblock %}
