<ul class="menu simple" data-dropdown-menu>
  <li><a href="/"><button class="button hollow">Home</button></a></li>
  {% block admin %}
  <li>
    <button data-toggle="admin-dropdown" class="button hollow">Admin</button>
  </li>
  {% endblock %}
  {% block Logout %}{% endblock %}
</ul>
{% block hidden %}
<div class="dropdown-pane" id="admin-dropdown" data-dropdown data-auto-focus="true">
  Login to Admin Section
  <form action="/admin" method="GET"><!-- get verb for now -->
    <div class="row">
      <div class="medium-6 columns">
        <label>User
          <input type="text" placeholder="Username">
        </label>
      </div>
      <div class="medium-6 columns">
        <label>Password
          <input type="password" placeholder="Secret">
        </label>
      </div>
    </div>
    <button class="button submit" type="submit">Login</button>
  </form>
</div>
{% endblock %}
